<div class="chat-box" [ngClass]="{'chat-close': !friend}">
    <div class="header">
        <span>{{ friend?.first_name || "Ninguem" }}</span>
        <div class="tools">
            <sm-button class="inverted mini circular" icon="settings"></sm-button>
            <sm-button class="inverted mini circular" icon="close" (click)="closeChat()"></sm-button>
        </div>
    </div>
    <div class="content">
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column margin">
                    <div class="bubble-left">Oi ^.^</div>
                </div>
                <div class="sixteen wide column margin">
                    <div class="bubble-right">Oiiiii</div>
                </div>
                <div class="sixteen wide column margin">
                    <div class="bubble-left">Como foi suas ferias?</div>
                </div>
                <div class="sixteen wide column margin">
                    <div class="bubble-right">Foram divinais</div>
                </div>
                <div class="sixteen wide column margin">
                    <div class="bubble-left">Legal</div>
                </div>
                <div class="sixteen wide column margin">
                    <div class="bubble-right">:)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" contenteditable="true" data-text="Escreva uma mensagem"></div>
</div>