<div class="chat-box" [ngClass]="{'hidden': !friend}">
    <div class="header">
        <span>{{ friend?.first_name }}</span>
        <div class="tools">
            <sm-button class="inverted mini circular" icon="close" (click)="closeChat()"></sm-button>
        </div>
    </div>
    <div class="content">
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column margin" *ngFor="let message of messages">
                    <div class="bubble-right">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" contenteditable="true" data-text="Escreva uma mensagem" (keyup)="sendMessage($event)" #message></div>
</div>